In [6]:
import pandas as pd

In [7]:
google = pd.read_csv("https://raw.githubusercontent.com/ActiveConclusion/COVID19_mobility/master/google_reports/mobility_report_asia_africa.csv")
print(google.columns)
google.head()

Index(['world_region', 'country', 'sub region 1', 'sub region 2', 'date',
       'retail and recreation', 'grocery and pharmacy', 'parks',
       'transit stations', 'workplaces', 'residential'],
      dtype='object')

,world_region,country,sub region 1,sub region 2,date,retail and recreation,grocery and pharmacy,parks,transit stations,workplaces,residential
0,Asia,United Arab Emirates,Total,Total,2020-02-15,0.0,4.0,5.0,0.0,2.0,1.0
1,Asia,United Arab Emirates,Total,Total,2020-02-16,1.0,4.0,4.0,1.0,2.0,1.0
2,Asia,United Arab Emirates,Total,Total,2020-02-17,-1.0,1.0,5.0,1.0,2.0,1.0
3,Asia,United Arab Emirates,Total,Total,2020-02-18,-2.0,1.0,5.0,0.0,2.0,1.0
4,Asia,United Arab Emirates,Total,Total,2020-02-19,-2.0,0.0,4.0,-1.0,2.0,1.0

In [8]:
"Malaysia" in google['country'].unique()
malaysia = google.loc[(google['country']=="Malaysia")]
malaysia.describe(include="all")

,world_region,country,sub region 1,sub region 2,date,retail and recreation,grocery and pharmacy,parks,transit stations,workplaces,residential
count,9668,9668,9668,9668,9668,9604.000000,9598.000000,9562.000000,9554.000000,9656.000000,9581.000000
unique,1,1,17,1,569,NaN,NaN,NaN,NaN,NaN,NaN
top,Asia,Malaysia,Perlis,Total,2021-02-22,NaN,NaN,NaN,NaN,NaN,NaN
freq,9668,9668,569,9668,17,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,NaN,NaN,-34.023011,-5.064180,-27.185003,-46.169144,-25.553749,16.009707
std,NaN,NaN,NaN,NaN,NaN,22.434776,20.486992,26.360850,26.228462,17.458843,10.706660
min,NaN,NaN,NaN,NaN,NaN,-90.000000,-74.000000,-93.000000,-100.000000,-87.000000,-4.000000
25%,NaN,NaN,NaN,NaN,NaN,-51.000000,-13.000000,-45.000000,-66.000000,-36.000000,7.000000
50%,NaN,NaN,NaN,NaN,NaN,-30.000000,-4.000000,-29.000000,-50.000000,-22.000000,14.000000
75%,NaN,NaN,NaN,NaN,NaN,-18.000000,4.000000,-10.000000,-31.000000,-13.000000,24.000000
max,NaN,NaN,NaN,NaN,NaN,45.000000,135.000000,181.000000,132.000000,15.000000,50.000000

In [ ]:
googledata = malaysia[['date', 'sub region 1', 'retail and recreation', 'grocery and pharmacy', 'parks', 'transit stations', 'workplaces', 'residential']]
googledata.rename(columns={'sub region 1':'state'}, inplace=True)
googledata.loc[googledata['state']=='Federal Territory of Kuala Lumpur', 'state'] = 'Kuala Lumpur'
googledata.loc[googledata['state']=='Labuan Federal Territory', 'state'] = 'Labuan'
googledata.loc[googledata['state']=='Malacca', 'state'] = 'Melaka'
googledata.loc[googledata['state']=='Total', 'state'] = 'Malaysia'
googledata.describe(include="all")

In [ ]:
googledata.to_csv("../data/google-mobility-data-malaysia.csv", index=False)