In [32]:
import pandas as pd
import numpy as np

In [33]:
population = pd.read_csv("https://raw.githubusercontent.com/MoH-Malaysia/covid19-public/main/static/population.csv")
print(population.columns)
population

Index(['state', 'idxs', 'pop', 'pop_18', 'pop_60'], dtype='object')

                state  idxs       pop    pop_18   pop_60
0            Malaysia     0  32657400  23409600  3502000
1               Johor     1   3781000   2711900   428700
2               Kedah     2   2185100   1540600   272500
3            Kelantan     3   1906700   1236200   194100
4              Melaka     4    932700    677400   118500
5     Negeri Sembilan     5   1128800    814400   145000
6              Pahang     6   1678700   1175800   190200
7        Pulau Pinang     7   1773600   1367200   239200
8               Perak     8   2510300   1862700   397300
9              Perlis     9    254900    181200    35100
10           Selangor    10   6538000   4747900   575800
11         Terengganu    11   1259300    808400   115200
12              Sabah    12   3908500   2758400   238900
13            Sarawak    13   2816500   2042700   332800
14  W.P. Kuala Lumpur    14   1773700   1348600   205800
15        W.P. Labuan    15     99600     68500     7900
16     W.P. Putrajaya    16    110000     67700     5000

In [34]:
population['state'].replace({"W.P. ":""}, regex=True, inplace=True)
population.loc[population['state']=='Pulau Pinang', 'state'] = 'Penang'
print(population['state'].unique())
population.drop(columns='idxs', axis=1, inplace=True)
population.drop(0, inplace=True)
population

['Malaysia' 'Johor' 'Kedah' 'Kelantan' 'Melaka' 'Negeri Sembilan' 'Pahang'
 'Penang' 'Perak' 'Perlis' 'Selangor' 'Terengganu' 'Sabah' 'Sarawak'
 'Kuala Lumpur' 'Labuan' 'Putrajaya']

              state      pop   pop_18  pop_60
1             Johor  3781000  2711900  428700
2             Kedah  2185100  1540600  272500
3          Kelantan  1906700  1236200  194100
4            Melaka   932700   677400  118500
5   Negeri Sembilan  1128800   814400  145000
6            Pahang  1678700  1175800  190200
7            Penang  1773600  1367200  239200
8             Perak  2510300  1862700  397300
9            Perlis   254900   181200   35100
10         Selangor  6538000  4747900  575800
11       Terengganu  1259300   808400  115200
12            Sabah  3908500  2758400  238900
13          Sarawak  2816500  2042700  332800
14     Kuala Lumpur  1773700  1348600  205800
15           Labuan    99600    68500    7900
16        Putrajaya   110000    67700    5000

In [35]:
population.to_csv("../data/static-population.csv", index=False)