In [36]:
import pandas as pd

In [37]:
tomtom = pd.read_csv("https://raw.githubusercontent.com/ActiveConclusion/COVID19_mobility/master/tomtom_reports/tomtom_trafic_index.csv")
print(tomtom.columns)
tomtom.head()

Index(['country', 'city', 'date', 'congestion', 'diffRatio'], dtype='object')

     country          city        date  congestion  diffRatio
0  Argentina  Buenos Aires  2019-12-30          27   0.000000
1  Argentina  Buenos Aires  2019-12-31          10  -0.655172
2  Argentina  Buenos Aires  2020-01-01           6  -0.806452
3  Argentina  Buenos Aires  2020-01-02          18  -0.454545
4  Argentina  Buenos Aires  2020-01-03          21  -0.400000

In [38]:
print("Malaysia" in tomtom['country'].unique())
malaysia = tomtom.loc[(tomtom['country']=='Malaysia')]
malaysia.describe(include="all")

True

         country          city        date  congestion   diffRatio
count        585           585         585  585.000000  585.000000
unique         1             1         585         NaN         NaN
top     Malaysia  Kuala Lumpur  2020-03-03         NaN         NaN
freq         585           585           1         NaN         NaN
mean         NaN           NaN         NaN   17.483761   -0.375618
std          NaN           NaN         NaN   13.074477    0.449594
min          NaN           NaN         NaN    0.000000   -1.000000
25%          NaN           NaN         NaN    7.000000   -0.741935
50%          NaN           NaN         NaN   15.000000   -0.424242
75%          NaN           NaN         NaN   27.000000   -0.037037
max          NaN           NaN         NaN   63.000000    1.333333

In [39]:
print(malaysia['city'].unique())
tomtomdata = malaysia[['date', 'city', 'congestion', 'diffRatio']]
# Normalize congestion data
mean_val = tomtomdata.loc[tomtomdata.date <= "2020-02-06", "congestion"].mean()
tomtomdata['congestion-norm'] = tomtomdata.congestion - mean_val
min_val = tomtomdata[col].min()
max_val = tomtomdata[col].max()
tomtomdata['congestion-norm'] = ((tomtomdata['congestion-norm'] - min_val)/ (max_val - min_val)) * 100
tomtomdata.describe(include="all")

['Kuala Lumpur']

              date          city  congestion   diffRatio  congestion-norm
count          585           585  585.000000  585.000000       585.000000
unique         585             1         NaN         NaN              NaN
top     2020-03-03  Kuala Lumpur         NaN         NaN              NaN
freq             1           585         NaN         NaN              NaN
mean           NaN           NaN   17.483761   -0.375618       -65.797042
std            NaN           NaN   13.074477    0.449594        20.753138
min            NaN           NaN    0.000000   -1.000000       -93.549044
25%            NaN           NaN    7.000000   -0.741935       -82.437932
50%            NaN           NaN   15.000000   -0.424242       -69.739520
75%            NaN           NaN   27.000000   -0.037037       -50.691901
max            NaN           NaN   63.000000    1.333333         6.450956

In [40]:
tomtomdata.to_csv("../data/tomtom-mobility-data-malaysia.csv", index=False)